
.rednametag{
    background-color: red;
    color:black;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -100px;
    z-index: -1;
    border-radius: 1em;
    border-style: solid;
    
    
}
div h2{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:white;
    text-align: center;
    bottom: 80px;
    left: 72px;
    text-transform: uppercase;
    
}
div p{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:white;
    top: 40px;
    left: 80px;
    letter-spacing: 0.2em;

}
.whitestripe{
    position: absolute;
    background-color: white;
    width: 300px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -97px;
    
}
div h1{
    font-family: cursive;
    font-size: 30px;
    text-align: center;
   
}